@use "sass:math";

// Title's animation
h3 {
	text-transform: uppercase;
	position: relative;
	padding: 10px;
	display: inline-block;

	&::before,
	&::after {
		position: absolute;
		left: 0;

		height: 3px;
		content: '';
		background: #000;
		transition: all 0.3s;
	}
	&::before {
		top: 0;
		width: 30%;
	}
	&::after {
		bottom: 0;
		width: 70%;
	}

	&:hover {
		&::before {
			width: 70%;
		}
		&::after {
			width: 30%;
		}
	}
}

// Scrollbar
::-webkit-scrollbar {
	width: $scroll-bar-width;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	border-radius: math.div($scroll-bar-width, 2);
	background: hsla(0, 20%, 20%, 0.3);

	box-shadow: inset 1px 1px 1px 0px rgb(255 255 255 / 60%),
		inset -1px -1px 1px 0 rgb(0 0 0 / 20%);

	transition: all 0.5s;
}
::-webkit-scrollbar-thumb:hover {
	background: hsl(0, 50%, 50%);
}
